/* *{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	width:100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(Homepage_web.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
nav{
	width: 100%;
	background-color: #eed9c4;
	height: 75px;
	line-height: 75px;
	padding:0px 120px;
}
nav h1{
	font-size: 32px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	float: left;
}
nav ul{
	float: right;
}
nav ul li{
	float:left;
	list-style: none;
	position: relative;
}
nav ul li a{
	text-decoration: none;
	font-family: sans-serif;
	color: #eed9c4;
	font-size: 17px;
	padding:0px 16px;
	display: block;
}
nav ul li a:hover{
	background-color:#46527a;
}
nav ul li ul{
	position:absolute;
	display: none;
	background-color: #2a375e;
	border-radius:0px 0px 5px 5px;
}
nav ul li:hover ul{
	display: block;
}
nav ul li ul li{
	line-height:1;
	width:190px;
	border-radius:5px;
	padding:6px;
}
nav ul  li ul li a{
	padding: 10px 16px;
}
nav ul  li ul li a:hover{
	background-color:#46527a;
}*/


 *{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	width:100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(Homepage_web.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
nav{
	width: 100%;
	background-color: #eed9c4;
	height: 25px;
	line-height: 25px;
	padding:0px 50px;
}
nav h1{
	font-size: 32px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	float: left;
}


nav ul {
  background-color: rgba(238, 238, 238, 0.75);
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li:hover {
  background-color: rgba(117, 117, 117, 0.75);
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #757575;
}
nav a:hover {
  color: #eee;
}



nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(238, 238, 238, 0.75);
  backgr
}

nav ul li:hover > ul {
  display: block;

}
nav ul li  ul li:hover{
  background-color: rgba(117, 117, 117, 0.75);

}





nav ul ul li {
  width: 100%;
  display: block;
}


