*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
header {
	height: 80px;
	margin : 10px
}

form {
	padding: 35px;
	text-align : right;
}
input[type="search"]{
	font-size: 17px;
}
.banner{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0, 0, 0,0.75)), url("img/Homepage_web.jpg");
	background-size: cover;
	background-position: center;
	animation:slide 20s infinite;
} 
@keyframes slide{
	1%{
		background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0, 0, 0,0.75)), url("img/Homepage1_web.jpg");
		background-size: cover;
		background-position: center;
	}
	50%{
		background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0, 0, 0,0.75)), url("img/Homepage2_web.jpg");
		background-size: cover;
		background-position: center;
	}
	100%{
		background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0, 0, 0,0.75)), url("img/Homepage1_web.jpg");
		background-size: cover;
		background-position: center;
	}
}

.content{
	width:100%;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	text-align:center;
	color:#eed9c4;
	font-family: bold;
}
.content hl{
	font-size:70px;
	margin-top: 80px;
}
.content p{
	margin:20px auto;
	font-weight:100;
	line-height:25px;
}
.content2{
	margin: 0;
	padding: 0;
}

  

 section{
	width:80%;
	margin: 80px auto;
	text-align: center;
}
.title{
	text-align: center;
	font-size: 4vmin;
	color:#785d4d;

}

.buy{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.25), rgba(0, 0, 0,0.25)), url('./img/buyHouse.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	align-items:left;	
}

.buy-content{
	width:100%;
	padding: 50px;
	color:#785d4d;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.buy-content h1{
	font-size:4vmin;
	margin: 0;
	/* position:absolute; */
	/* top:995px;
	left: 30px; */
}

.buy-content p{
	color: rgb(0, 0, 0);
	margin:0;
	/* position:absolute; */
	/* top:1050px;
	left:20px; */
}

.buy-content .ctn{
	margin:50;
	/* position:absolute; */
	/* top:1095px;
	left:30px; */
}

button{
	width:200px;
	padding:15px 0;
	text-align:center;
	margin:30px 0;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #eed9c4;
	background:transparent;
	color:#fff;
	cursor: pointer;
	position: relative;
	overflow:hidden;
	z-index:1;

}
span{
	background: #eed9c4;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
	transition:0.5s;
}
button:hover span{
	width:100%; 
}
button:hover{
	border:none;
}
.sell{
	width:100%;
	height:100vh;
	background-image:url('img/sellHouse.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	align-items:left;
}

.sell-content{
	width:100%;
	padding: 50px;
	color:#785d4d;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.sell-content h1{
	font-size:4vmin;
	margin: 0;
	/* position:absolute;
	top:1800px;
	left: 30px; */
}

.sell-content p{
	color: rgb(0, 0, 0);
	margin:0;
	/* position:absolute;
	top:1855px;
	left:30px; */
}

.sell-content .ctn{
	margin:0;
	/* position:absolute;
	top:1900px;
	left:30px; */
}
	
table {
      border-collapse: separate;
      border-spacing: 10px; /* Ajoute un espace de 10 pixels entre les colonnes */
	  background-color: #785d4d;
	  text-align: left;
	  width: 1465px;
    }

td {
  font-family: times new roman;
  position: relative;
  

  justify-content: center;
}
#mytable td{
    padding-left: 140px;

}
#mytable tH{
    padding-left: 140px;
}
#mytable tr tH a{
text-decoration: none;
color: rgb(255, 253, 253);
}
#mytable tr td a{
text-decoration: none;
color: rgb(5, 5, 5);
}
